---

---

<nav>
  <ul>
    <li>
      <a href="/">About</a>
    </li>
    <li>
      <a href="/work">Work</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    column-gap: 2em;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
  }

  li {

  }

  a {
    font-weight: 400;
    font-size: 1.5em;
  }
</style>
