---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul>
    <li>
      <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
    </li>
    <li>
      <a class={currentPath === "portfolio" ? "active" : ""} href="/work">Work</a>
    </li>
    <li>
      <a class={currentPath === "posts" ? "active" : ""} href="/contact">Contact</a>
    </li>
  </ul>
</nav>

<style>
  ul {
    column-gap: 2em;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
  }
  a {
    font-weight: 400;
    font-size: 1.5em;
  }

  a[aria-current='page'] {
    background-color: var(--theme-bg-accent);
    color: var(--theme-text-accent);
    font-weight: 600;
  }
</style>
