@font-face {
  font-family: 'Silka';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/silka-regular-webfont-subset.woff2') format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: 'Silka';
  font-weight: 600;
  font-style: normal;
  src: url('fonts/silka-semibold-webfont-subset.woff2') format('woff2');
  font-display: fallback;
}

::selection {
  background-color: var(--brand-color);
  color: hsla(0, 100%, 100%, 0.95);
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: boder-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  --brand-color: hsl(253.3, 44.7%, 49.6%);
  align-items: center;
  box-sizing: border-box;
  background-color: hsl(0, 100%, 100%);
  block-size: 100vh;
  color: var(--brand-color);
  display: grid;
  font-family: 'Silka', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  margin: 0;
  overscroll-behavior-block: none;
  padding-block: 4rem;
  padding-inline: 0.5rem;
  row-gap: 2.5rem;
}

@supports (-webkit-touch-callout: none) {
  body {
    block-size: -webkit-fill-available;
  }
}

header {
  align-items: center;
  display: flex;
  inline-size: min(112.5rem, 100vw - 2rem);
  justify-content: space-between;
  margin-inline: auto;
}

main {
  display: grid;
  justify-items: center;
  margin-block-start: 1rem;
  row-gap: 2rem;
}

h1 {
  display: flex;
}

p {
  font-size: clamp(1.25rem, 5vw, 2.5rem);
  line-height: 1.3;
  max-inline-size: 45ch;
  padding-inline: 5vw;
  text-align: center;
}

a {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-size: clamp(1.25rem, 4vw, 2.75rem);
  font-weight: 600;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
}

a span {
  --popup-height: 2.5rem;
  --border-color: currentColor;
  --button-color: hsla(0, 100%, 100%, 0);
  align-items: center;
  background-color: var(--button-color);
  block-size: var(--popup-height);
  border: 0.125rem solid var(--border-color);
  border-radius: calc(var(--popup-height) / 2);
  display: flex;
  font-size: 1.25rem;
  font-weight: 400;
  inset-block-start: calc(var(--popup-height) * 1.5);
  line-height: 1;
  margin-block-start: 0.5rem;
  opacity: 0;
  padding: 0 1rem;
  pointer-events: none;
  position: absolute;
  transform: translateY(0.5rem) scale(1);
  transition: opacity 250ms, transform 500ms;
  visibility: var(--state);
  white-space: nowrap;
  will-change: opacity, transform;
}

a.is-active span {
  opacity: 1;
  transform: translateY(0) scale(1);
}

a:active {
  transform: scale(0.99);
}

a:focus {
  outline: 0;
}

a:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 1rem;
}

@media (prefers-color-scheme: dark) {
  a span {
    --button-color: transparent;
  }
}

@media (prefers-reduced-motion) {
  a.is-active span {
    transition: none;
  }
}

@media (prefers-color-scheme: dark) {
  button::after {
    --button-color: transparent;
  }
}
