---
import Layout from '../templates/Layout.astro';
import { Icon } from 'astro-icon';
import Text from '../atoms/Text.astro';
import MailTo from '../atoms/MailTo.astro';
import Blob from '../organisms/Blob.astro';
import Footer from '../organisms/Footer.astro';
---

<!DOCTYPE html>
<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Frilans design studio som leverer estetiske og funksjonelle løsninger. Ta kontakt om du har et prosjekt du vil snakke om."
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="var(--brand-color)" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link
      rel="stylesheet"
      href="../styles/dark.css"
      media="(prefers-color-scheme: dark)"
    />
    <title>Attityd</title>
    <link rel="canonical" href="https://attityd.no/" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="fonts/silka-regular-webfont-subset.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="fonts/silka-semibold-webfont-subset.woff2"
      crossorigin
    />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
  </head>
  <body>
    <Layout>
      <h1>
        <Icon name="attityd" />
      </h1>

      <Text>
        Frilans design studio som leverer estetiske og funksjonelle løsninger.
        Ta kontakt om du har et prosjekt du vil snakke om.
      </Text>

      <MailTo email="hei@attityd.no" />

      <Blob />
    </Layout>

    <Footer />
  </body>
</html>
