---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---
<Layout title="Welcome to Astro.">
  <Header/>
  <main>
    <section id="intro">
      <p>
        Frilans design studio som leverer estetiske og funksjonelle løsninger.
        Ta kontakt om du har et prosjekt du vil snakke om.
      </p>
    </section>
    <section id="contact">
      <a href="mailto:hei@attityd.no">hei@attityd.no</a>
    </section>
  </main>
  <Footer/>
</Layout>

<style>
  #intro {
    block-size: 200vh;
  }
</style>
