---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Prosjekter">
  <Header/>
  <h2>Prosjekter</h2>
  <Footer/>
</Layout>
