---
interface Props {
  email: string;
}

const { email } = Astro.props as Props;
---

<a href="mailto:{email}">{email}</a>

<script>
  const linkTag: HTMLAnchorElement | null = document.querySelector("a");

  if (linkTag !== null) {
    linkTag.style.setProperty("--state", "hidden");

    linkTag.addEventListener("click", async (event) => {
      event.preventDefault();
      const currentTarget = event.currentTarget as HTMLElement;
      currentTarget.insertAdjacentHTML(
        "beforeend",
        "<span>Kopiert til utklippstavlen</span>"
      );

      if (!navigator.clipboard) {
        return;
      }

      const text = currentTarget.innerText;

      try {
        if (text) {
          await navigator.clipboard.writeText(text);
          const target = event.target as HTMLElement;
          target.classList.add("is-active");
          target.style.setProperty("--state", "visible");
          setTimeout(() => {
            target.classList.remove("is-active");
            target.firstElementChild?.remove();
            setTimeout(() => {
              target.style.setProperty("--state", "hidden");
            }, 1000);
          }, 30000);
        }
      } catch (err) {
        console.error("Kunne ikke kopiere!", err);
      }
    });
  } else {
    console.error("Link tag not found!");
  }
</script>
