---
const menu = [
  { url: '/', text: 'Hjem' },
  { url: '/prosjekter/', text: 'Alle prosjekter'}
];
---

<nav>
  <ul>
    {menu.map(item => (
    <li>
      <a href="{item.url}">{item.text}</a>
    </li>
    ))}
  </ul>
</nav>
