@font-face {
  font-family: 'Silka';
  font-display: swap;
  src: url('../fonts/silka-regular-webfont-subset.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  font-display: swap;
  src: url('../fonts/silka-semibold-webfont-subset.woff2');
  font-weight: 600;
  font-style: normal;
}
::selection {
  background-color: var(--brand-color);
  color: hsla(0, 100%, 100%, 0.95);
}

* {
  margin: 0;
}

body {
  --brand-color: hsl(253.3, 44.7%, 49.6%);
  align-items: center;
  box-sizing: border-box;
  background-color: hsl(0, 100%, 100%);
  block-size: 100vh;
  color: var(--brand-color);
  display: grid;
  font-family: 'Silka', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-content: center;
  margin: 0;
  overscroll-behavior-block: none;
  padding: 0.5rem;
}

@supports (-webkit-touch-callout: none) {
  body {
    block-size: -webkit-fill-available;
  }
}

h1 {
  display: flex;
}

svg {
  block-size: 100%;
  inline-size: clamp(16rem, 32vmax, 24rem);
}

svg path {
  fill: var(--brand-color);
}

a {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-size: clamp(1.25rem, 4vw, 2.75rem);
  font-weight: 600;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
}

a span {
  --popup-height: 2.5rem;
  --border-color: currentColor;
  --button-color: hsla(0, 100%, 100%, 0);
  align-items: center;
  background-color: var(--button-color);
  block-size: var(--popup-height);
  border: 0.125rem solid var(--border-color);
  border-radius: calc(var(--popup-height) / 2);
  display: flex;
  font-size: 1.25rem;
  font-weight: 400;
  inset-block-start: calc(var(--popup-height) * 1.5);
  line-height: 1;
  margin-block-start: 0.5rem;
  opacity: 0;
  padding: 0 1rem;
  pointer-events: none;
  position: absolute;
  transform: translateY(0.5rem) scale(1);
  transition: opacity 250ms, transform 500ms;
  visibility: var(--state);
  white-space: nowrap;
  will-change: opacity, transform;
}

a.is-active span {
  opacity: 1;
  transform: translateY(0) scale(1);
}

a:active {
  transform: scale(0.99);
}

a:focus {
  outline: 0;
}

a:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 1rem;
}

@media (prefers-color-scheme: dark) {
  a span {
    --button-color: transparent;
  }
}

@media (prefers-reduced-motion) {
  a.is-active span {
    transition: none;
  }
}

[astro-icon='blob'] {
  --blend-mode: multiply;
  inline-size: clamp(18rem, 60vw, 32rem);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  mix-blend-mode: var(--blend-mode);
  opacity: 0.2;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: -1;
}
