---
const { content } = Astro.props;
---
<!--HTML Content-->
<html>
  <head>
    <title>{content.title} | Attityd</title>
  </head>

  <body>
    <main class="wrapper">
      <h2 class="title">{content.title}</h2>
      <img width="500" src={`https://res.cloudinary.com/attityd/image/upload/v1602673182/samples/animals/${content.image}`} alt={content.title}>
      <article class="article">
        <slot />
      </article>
      <footer class="footer">
        <a class="posts" href="/prosjekter">Alle prosjekter</a>
      </footer>
    </main>
  </body>
</html>
